#location {
	width: 100%;
	padding: 200px 0;
	background: #111;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		h1 {
			font: bold 60px/1 'Lora';
			color: #eee;
			margin-bottom: 50px;
		}
		> p {
			font: 20px/1.2 'arial';
			color: #eee;
			padding: 30px 20vw 20px 15vw;
		}
		.traffic {
			float: left;
			margin-top: 170px;
			margin-bottom: 10px;
			position: relative;
			li {
				float: left;
				margin-right: 10px;
				color: #ddd;
				font-size: 20px;
				a {
					display: block;
					width: 30px;
					height: 24px;
					background: #111;
					font: bold 12px/24px '맑은 고딕';
					color: #ddd;
					text-align: center;
					border: 1px solid #ddd;
					border-radius: 10px;
					position: absolute;
					top: 50%;
					transform: translateY(-40%);
				}
				&.on a {
					background: #eee;
					color: #333;
				}
			}
		}
		#map {
			width: 100%;
			height: 500px;
			border: 1px solid #000;
			margin-bottom: 20px;
			filter: brightness(0.3);
			cursor: pointer;
			transition: 0.5s;
			&:hover {
				filter: brightness(0.9);
			}
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.branch {
			float: left;
			width: 100%;
			li {
				width: 32%;
				margin-right: 2%;
				float: left;
				a {
					display: block;
					margin-top: 10px;
					border-bottom: 1px solid #ddd;
					padding: 15px 30px;
					h2 {
						font: bold 18px/1 '맑은 고딕';
						color: #ddd;
						text-align: left;
						padding: 5px;
						margin-bottom: 5px;
					}
					p {
						font: 12px/1 '맑은 고딕';
						color: #ddd;
						text-align: left;
						padding: 5px;
					}
				}
				&.on a {
					background: #484858;
				}
				&:nth-of-type(3) {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	#location {
		padding: 200px 20px;
		.inner {
			width: 100%;
		}
	}
}

@media screen and (max-width: 539px) {
	#location {
		padding: 200px 30px;
		.inner {
			h1 {
				font: bold 40px/1 'Lora';
			}
			> p {
				font: 12px/1.2 'arial';
			}
			.branch {
				li {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
}
